<script>
    $(document).ready(function() {
        $.getJSON( "/timeline.json", function( data ) {
            createStoryJS({
                type:               'timeline',
                width:              '100%',
                height:             '700',
                source:              data,
                embed_id:            'timeline',
                start_zoom_adjust:   2,
                js:                  "<%= asset_path 'timeline.js' %>",
                css:                 "<%= asset_path 'timeline.css' %>"
            });   
        });
    });
</script>
<div id="timeline"></div>