<script>
    $(document).ready(function() {
        $.getJSON( "/timeline.json", function( data ) {
            console.log(data)
            createStoryJS({
                type:       'timeline',
                width:      '100%',
                height:     '800',
                source:      data,
                embed_id:   'timeline',
                start_zoom_adjust: 2
            });   
        });
    });
</script>
<div id="timeline"></div>